html, body {
    height: 100%;
    font-family: 'Exo 2', sans-serif;
}
body {
    perspective: 500px;
    background-color: #6FF0BE;
}
a {
    color: #1c1c1c;
}
#about-me-container {
}
#esc-key {
    border: 2px solid #1c1c1c;
    padding: 0px 15px 0px 15px;
    border-radius: 4px;
}
#icon, #projects-container, #side-bar, #social-media, #social-icon1, #social-icon2, #social-icon3 {
    position: absolute;
}
#icon {
    height: 10%;
}
#menu {
    position: fixed;
    top: 2%;
    right: 3%;
    z-index: 1;
}
#my-form {
    display: flex;
    flex-direction: column;
}
#name {
    font-size: 1.5em;
}
#name-container{
    transform-origin: left;
    transform: rotateZ(90deg);
    width: fit-content;
    padding: 20px;
    margin: 0px 0px 0px 35px;
}
#projects-container{
    box-sizing: border-box;
    overflow: hidden;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-left: 3.7em;
    padding-bottom: 30px;
    transition-timing-function: ease-in-out;
    transition: 0.5s;
}
#profile-image {
    border-radius: 230px;
}
#repoBox {
    flex-direction: column;
}
#side-bar {
    left: 0;
    background-color: rgba(0,0,0,0.3);
    height: 100%;
    width: 8.18em;
    padding: 0;
}
#social-icon1, #social-icon2, #social-icon3 {
    font-size: 1rem;
}
#social-media {
    left: 29px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 235px;
}
#social-icon1{
    bottom: 75%;
}
#social-icon3{
    bottom: 10%;
}
#social-modal1 {
    position: absolute;
    height: fit-content;
    width: 25%;
    top: 30%;
    left: 39.5%;
    background-color: #fafafa;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 10px 100px 10px #1c1c1c;
}
#skills {
    width: 67.5%;
    padding: 40px 20px 40px 20px;
    margin-top: 2em;
    border-radius: 10px;
    background-color: #fafafa;    
}
#spinner {
    text-align: center;
    animation-name: spin, depth;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    width: 6em;
    font-size: 5em;
    font-weight: 900;
}
@keyframes spin {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(-360deg); }
}
@keyframes depth {
    0% { text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black; }
    25% { text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black; }
    50% { text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black; }
    75% { text-shadow: -1px 0 black, -2px 0 black, -3px 0 black, -4px 0 black, -5px 0 black; }
    100% { text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black; }
}
#text-area {
    height: 15rem;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.footer {
    margin-top: 3rem;
    color: #fafafa;
    height: 5em;
    text-shadow: 0px 5px 10px #15DD26;    
    font-size: 1.5em;
    background-image: url("https://kaggle2.blob.core.windows.net/datasets-images/1074/1939/31ad58e309363eae5e544c3746a068dc/dataset-cover.jpg");    
}
.jumbo-back {
    color: #fafafa;
    text-shadow: 0px 5px 10px #15DD26;
    background-image: url("https://kaggle2.blob.core.windows.net/datasets-images/1074/1939/31ad58e309363eae5e544c3746a068dc/dataset-cover.jpg");
}
.menu-item:hover {
    line-height: 1.5;
    transition-timing-function: ease-in-out;
    transition: 0.3s;
}
.repos {
    width: 95%;
    padding: 40px 20px 40px 20px;
    margin-top: 2em;
    border-radius: 10px;
    background-color: #fafafa;
    box-shadow: 0px 10px 50px #1c1c1c;
    transition-timing-function: ease-in-out;
    transition: .3s;
    justify-content: space-around;
}
.social-background {
    background-color: #fafafa;
    padding: 3em 2em 3em 2em;
    border-radius: 15px;
}
.social1 {
    font-size: .5em;
    font-family: 'Exo 2', sans-serif;
}
.social-modals {
    display: none;
}
.wrapper {
    min-height: 100%;
}
@media screen and (max-width: 1300px){
    #about-me, #projects {
        font-size: 2.0rem;
    }
    #esc-key {
        display: none;
    }
    #icon {
        height: 50px;
    }
    #menu-close {
        font-size: 1rem;
    }
    #projects-container {
        margin-left: 0em;
    }
    #side-bar {
        top: 0;
        background-color: rgba(0,0,0,0);
    }
    #social-media {
        left: 0px;
        height: 180px;
    }
    #social-modal1 {
        z-index: 1;
        height: 95%;
        width: 95%;
        top: 3%;
        left: 3%;
    }
    #social-icon1, #social-icon2, #social-icon3 {
        font-size: 0.7rem;
    }
    #text-area {
        height: 24rem;
    }
    .repos {
        justify-content: center;
    }
}